body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.move2 {
   overflow: hidden;
   background-color: white;

   height: 50px;
   
}
.active a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .loss {
      position: relative;
      padding-left: 1px;
      margin: 1px;
      height: 20px;
      font-size: 200%;
      left: -90px;
      bottom: -5px;
  }
  .loss2 {
      position: relative;
      font-size: 200%;
      
      bottom: 15px;
  }
  .loss3 {
      position: relative;
      font-size: 200%;
      bottom: 43px;
      left: 503px;

      
  }




  .yello {
      position: relative;
      background-color: yellow;
      height: 700px;
  }

  .moses3 {
      padding: 30px;
      text-align: center;
      position: relative;
      left: -190px;
      bottom: -90px;
  }
  .success {
    width: 190px;
    height: 40px;
    background-color: black;
    color: aliceblue;
  }
  .text {
    border: 0ch;
    background: none;
    border-bottom: 2px solid black;

}
.youtube {
    position: relative;
    width: 120px;
    height: 200px;
    
    left: 700px;
    bottom: 180px;
    font-size: medium;
}
.roundedh {
    width: 30px;
    height: 30px;
    position: relative;
    margin-bottom: 800px;
    margin-top: -915px;
    margin-left: -60px;

    
}
.roundedd {

    border-radius: 50%;
    border: 4px calc();
    border-radius: 0fr;
    margin-bottom: 80px;
    margin-left: 1200px;
    margin-top: -80px;
    border: 9px solid white;
    color: rgb(34, 30, 30);
}
/* we star*/

.text2 {
    position: relative;
    width:120px;
    height: 40px;
    background-color: yellow;
    text-align: center;
    align-items: center;
    font-size: 24;
    left: 600px;
}
.developer {
    text-align: justify;
    right: 40px;
    
}
.class3 {
    position: relative;
    left: 900px;
    bottom: 160px;
    
}
.class4 {
    position: relative;
    left: 950px;
    bottom: 170px;
    border: 9px solid yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: yellow;
    
}

.volume {
 
 padding-left: 200px;
 position: relative;
 bottom: 70px;
 left: 80px;
}
.volume2 {
    position: relative;
    left: 280px;
    bottom: 70px;
}
.klab {
    width:150px;
    height: 30px;
    background-color: yellow;
    border: 5px solid yellow;
    text-align: center;
    align-self: center;
    align-items: center;
    margin-left: 600px;
    font-size: larger;
}
.volume3 {
    position: relative;
    left: 600px;
    bottom: 140px;
}
.volume4 {
    position: relative;
    left: 600px;
    bottom: 140px;
}
.volume5 {
    position: relative;
    left: 750px;
    bottom: 210px;
}
.volume6 {
    position: relative;
    left: 750px;
    bottom: 210px;
}
.klab2 {
    position: relative;
    width: 90px;
    height: 200px;
    color: yellow;
    font-size: 300%;
    
    
    
}
.page3 {
    position: relative;
    width: 90px;
    height: 200px;
    color: yellow;
    font-size: 300%;
    left: 600px;
    bottom: 200px;
}
.moses {
    position: relative;
    color: yellow;
    font-size: 300%;
    left: 1100px;
    bottom: 400px;
}
.moses2 {
    position: relative;
    color: yellow;
    font-size: 300%;
    left: 1100px;
    bottom: 250px;
    padding-left: 50px;

}
.class5 {
    position: relative;
    color: yellow;
    font-size: 300%;
    left: 600px;
    bottom: 300px;
    padding-left: 50px;
}
.class6 {
    position: relative;
    color: yellow;
    font-size: 300%;
    left: 1px;
    bottom: 350px;
    padding-left: 50px;

}
.class7 {
    position: relative;
    border: 5px solid yellow;
    background-color: yellow;
    width: 140px;
    height: 40px;
    font-size: 20;
    left: 600px;
    bottom: 60px;
    padding-left: 50px;

}
.class8 {
    position: relative;
    left: 350px;
    font-size: 30;
    padding-left: 50px;
}
.class9 {
    position: relative;
    padding:4px;
    padding-left: 50px;
}
/*.lock {
    border-left: 5px solid yellow;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: 3px;
    top: 0;
    background-color: yellow;
}
*/
.yello5 {
    padding-left: 50px;
} 
.rock3 {
    position: relative;
    left: 790px;
    bottom: 1200px;
}
.rock4 {
    position: relative;
    padding-left: 50px;
    bottom: 800px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20;
    
}
.rock5 {
    position: relative;
    width: 50%;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    bottom: 750px;
    padding-left: 50px;
}
.rock6 {
    position: relative;
    
    width: 120px;
    height: 50px;
    bottom: 300px;
    left: 700px;
}
.rock7 {
    position: relative;
    width: 90px;
    height: 30px;
    background-color: yellow;
    font-size: 20;
    bottom: 200px;
    left: 700px;

}
.rock8 {
    position: relative;
    font-size: 30;
    bottom: 200px;
    left: 600px;

}
.rock9 {
    position: relative;
    font-size: 20;
    bottom: 200px;
    left: 600px;
    border: none;
    border-bottom: 5px solid yellow;
    background: none;
}
.fix {
    position: relative;
    font-size: 20;
    bottom: 279px;
    left: 700px;
    color: rgba(0, 0, 0, 4);

}
.fix2 {
    position: relative;
    font-size: 20;
    bottom: 350px;
    left: 890px;
    color: rgba(0, 0, 0, 4);

}
.fix3 {
    position: relative;
    font-size: 20;
    bottom: 420px;
    left: 1070px;
    color: rgba(0, 0, 0, 4);

}
.fix4 {
    position: relative;
    font-size: 20;
    bottom: 490px;
    left: 1290px;
    color: rgba(0, 0, 0, 4);

}
.fix5 {
    position: relative;
    bottom: 500px;
    left: 590px;
}
.fix6 {
    position: relative;
    bottom: 500px;
    left: 610px;
}
.fix7 {
    position: relative;
    bottom: 500px;
    left: 630px;
}
.fix8 {
    position: relative;
    bottom: 195px;
    left: -335px;
}
.fix9 {
    position: relative;
    bottom: 195px;
    left: -318px;
}
.codex {
    position: relative;
    bottom: 480px;
    left: 1246px;
}
.codex2 {
    position: relative;
    width: 1500PX;
    height: 400PX;
    background-color: rgb(202, 193, 193);
    bottom: 300px;
    left: 90px;
}
.codex3 {
    position: relative;
    width: 120px;
    height: 60px;
    border: 5px solid yellow;
    background-color: yellow;
    font-size: 20;
    margin-bottom: 20px;
    left: 600px;
    bottom: 150px;

}
.codex4 {
    position: relative;
    background-color: yellow;
    width: 60px;
    height: 50px;
    border: 2px solid yellow;
    font-size: 15;
    left: 700px;
    bottom: 200px;
}
.codex5 {
    position: relative;
    left: 650px;
    bottom: 200px;
}
.codex6 {
    position: relative;
    bottom: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    padding: 36px 20px;
    width: 400px;
    height: 21.594px;
    align-items: center;
    
}
.codex8 {
    position: relative;
    bottom: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    padding: 36px 20px;
    width: 400px;
    height: 21.594px;
    align-items: center;
    bottom: 150px;
    left: 650px;
}
.codex0 {
        position: relative;
        
        border: none;
        background-color: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
        
    
        padding: 36px 20px;
        width: 400px;
        height: 21.594px;
        align-items: center;
        bottom: 100px;
        left: 630px;
        font-size: 20;
    }
    .codex9 {
        position: relative;
        background-color: none;
        border: none;
        font-size: 20;
        color: rgba(0, 0, 0, 0.4);
    
    }
    .wap2 {
        position: relative;
        bottom: 400px;
        left: 990px;
    }
    .wap3 {
        position: relative;
        height: 600px;
        width: 1600px;
        background-color: #dddddd;
        bottom: 350px;
    }
    .wap4 {
        position: relative;
        background-color: yellow;
        border: 5px solid yellow;
        width: 120px;
        height: 40px;
        font-size: 15;
        right: -600px;
        top: 90px;
    }
    .wap5 {
        position: relative;
        right: -500px;
        top: 80px;
        font-size: 40;
    }
    .wap6 {
        position: relative;
        width: 1600px;
        height: 800px;
        background-color: yellow;
        left: 0px;
        bottom: 350px;
    }






